@model ProductDtoForInsertion

<form method="post" asp-action="Create">
    <div class="text-center">
        <h3 class="display-3">
            Ürün Ekle
        </h3>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select asp-items="@ViewBag.Categories" asp-for="CategoryId" class="form-control">
        </select>
    </div>

    <div class="form-group">
        <label asp-for="ProductName"></label>
        <input class="form-control" asp-for="ProductName" placeholder="Ürün adı giriniz." />
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input class="form-control" asp-for="Price" placeholder="Ürün fiyatını giriniz." />
    </div>
    <div class="button-group mt-3">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">
            <i class="fa fa-home"></i>
            Ana Sayfa</a>

        <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index">
            <i class="fa fa-list"></i>
            Ürünler
        </a>
        <input class="btn btn-success" type="submit" value="Gönder" />

    </div>
</form>
