@model IEnumerable<Product>

<div class="d-flex justify-content-end my-3">
    <a class="btn btn-success" asp-controller="Product" asp-action="Create">
        <i class="fa fa-plus"></i>
        Yeni Ürün Ekle
    </a>
</div>

<div class="my-3">

    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ürün Adı</th>
                <th>Fiyat</th>
                <th>Kategori</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product prd in Model)
            {
                <tr>
                    <td>@prd?.ProductId</td>
                    <td>@prd?.ProductName</td>
                    <td>@prd?.Price.ToString("C2")</td>
                    <td>@prd?.Category?.CategoryName</td>
                    <td>
                        <div class="btn btn-group">
                            <a class="btn btn-warning" asp-controller="Product" asp-action="Update"
                                asp-route-id="@prd?.ProductId">
                                <i class="fa fa-edit"></i>
                                Düzenle
                            </a>

                            <a class="btn btn-danger" asp-controller="Product" asp-action="Delete"
                                asp-route-id="@prd?.ProductId">
                                <i class="fa fa-trash"></i>
                                Sil
                            </a>

                            <a class="btn btn-info" asp-area="" asp-controller="Product" asp-action="Get"
                                asp-route-id="@prd?.ProductId">
                                <i class="fa fa-search"></i>
                                Önizleme
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>