@model Product
<form method="post" asp-action="Create">
    <div>
        <label asp-for="ProductName"></label>
        <input asp-for="ProductName" />
    </div>

    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" />
    </div>
    <div>
        <input type="submit" value="Gönder" />
    </div>
</form>

<a asp-action="Index">Geri</a>
