@model Entities.Models.Product
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Delete Product</h1>
        <div>
        @Model?.ProductId
        </div>
        <div>
        @Model?.ProductName
        </div>
        <div>
        @Model?.Price
        </div>

    <form method="post" action="Delete">
        <input name="ProductId" type="hidden" value="@Model?.ProductId" />
        <input type="submit" value="Sil" />

    </form>
</body>

</html>