@model Product
<h1>Delete Product</h1>
<div>
    @Model?.ProductId
</div>
<div>
    @Model?.ProductName
</div>
<div>
    @Model?.Price
</div>

<form method="post" asp-action="Delete">
    <input asp-for="ProductId" type="hidden" />
    <input type="submit" value="Sil" />
</form>
