@model List<Product>
<h3>Ürünler</h3>
<ul>
    @foreach (Product prd in Model)
    {
        <li>
            <a asp-controller="Product" asp-action="Get" asp-route-id="@prd?.ProductId">
                @prd?.ProductName
            </a>
            |
            <a asp-controller="Product" asp-action="Update" asp-route-id="@prd?.ProductId">
                Update
            </a>
            |
            <a asp-controller="Product" asp-action="Delete" asp-route-id="@prd?.ProductId">
                Delete
            </a>
        </li>
    }
</ul>
