@model List<Entities.Models.Product>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Ürünler</h3>
    <ul>
        @foreach (Entities.Models.Product prd in Model)
        {
            <li>
                <a href="/Product/Get/@prd?.ProductId">
                    @prd?.ProductName
                </a>
                |
                <a href="/Product/Update/@prd?.ProductId">
                    Update
                </a>
                |
                <a href="/Product/Delete/@prd?.ProductId">
                    Delete
                </a>
            </li>
        }
    </ul>
</body>

</html>