@model IEnumerable<Product>

<div class="text-center">
    <h3 class="display-3">Ürünler</h3>
</div>

<div class="row">
    @foreach (Product prd in Model)
    {
        <partial name="_ProductCard" model="@prd" />
    }
</div>

<div>
    <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin Panel</a>
</div>
