@model Product
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post" asp-action="Update">
        <div>
            <label>Product Id</label>
            <input asp-for="ProductId" />
        </div>

        <div>
            <label>Product Name</label>
            <input asp-for="ProductName" />
        </div>

        <div>
            <label>Price</label>
            <input asp-for="Price" />
        </div>
        <div>
            <input type="submit" value="Gönder" />
        </div>
    </form>
</body>

</html>