@model Product
<form method="post" asp-action="Update">
    <div class="form-group my-3">
        <label>Category</label>
        <select 
        class="form-control"
        asp-for="CategoryId" 
        asp-items="@ViewBag.Categories">
        </select>
    </div>

    <div class="form-group my-3">
        <input 
        type="hidden"
        class="form-control" 
        asp-for="ProductId" />
    </div>

    <div class="form-group my-3">
        <label>Product Name</label>
        <input class="form-control" asp-for="ProductName" />
    </div>

    <div class="form-group my-3">
        <label>Price</label>
        <input class="form-control" asp-for="Price" />
    </div>
    <div class="form-group my-3">
        <input class="btn btn-primary" type="submit" value="Gönder" />
    </div>
</form>
