<h3>Home : Index</h3>
<a asp-controller="Product" asp-action="Index">Ürünler</a> |
<a asp-controller="Product" asp-action="Create">Ekle</a>

@section Header {
    <div>Hoşgeldiniz</div>
    <p>Bu alan isteğe bağlı olarak derlenen Header section alanıdır.</p>
}