<h3>Home : Index</h3>
<a asp-controller="Product" asp-action="Index">Ürünler</a> |
<a asp-controller="Product" asp-action="Create">Ekle</a>

@section Header {
    <div>
        <i class="fa fa-home"></i>
        Hoşgeldiniz
    </div>
    <p>Bu alan isteğe bağlı olarak derlenen Header section alanıdır.</p>
}



<div>
    <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin Panel</a>
</div>