Dashboard Index

<div class="row">
    <div class="col-md-4">
        @await Component.InvokeAsync("ProductSummary")
    </div>
    <div class="col-md-4">
        @await Component.InvokeAsync("CategorySummary")
    </div>
</div>
