@model int
<div class="container mt-5">
    <div class="card bg-primary text-white">
        <div class="card-body text-center">
            <h1 class="display-4">@Model</h1>
        </div>
        <div class="card-footer">
            <a class="card-link text-white" asp-controller="Product" asp-action="Index">
                <i class="fa fa-list"></i>
                Ürünler</a>
            <a class="card-link text-white" asp-controller="Product" asp-action="Create">
                <i class="fa fa-plus"></i>
                Yeni ürün ekle</a>
        </div>
    </div>
</div>